################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/COVIDTrackerApp/.vs/COVIDTrackerApp/FileContentIndex

/COVIDTrackerApp/.DS_Store

/COVIDTrackerApp/.vs