################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/COVIDTrackerApp/.vs/COVIDTrackerApp/FileContentIndex

/.vs

/.DS_Store

/COVIDTrackerApp/.DS_Store

/COVIDTrackerApp/.vs

/COVIDTrackerApp/COVIDTrackerApp/bin

/COVIDTrackerApp/COVIDTrackerApp/obj
